.footer {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 60px;
  padding: 0 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  &__text-content {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-self: center;
  }
  &__text {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 300;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
  }
  &__tell-link {
    text-decoration: none;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 300;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
  }
  &__light {
    max-width: 683px;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
  }
}

@media screen and (max-width: 1439px) {
  .footer {
    max-width: 1240px;
    background-size: 500px 100%;
    box-sizing: border-box;
    &__text-content {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 1173px) {

  .footer {
    &__text-content {
    order: 2;
    }
    &__light {
      order: 1;
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 950px) {
  .footer {
    background-position: top center;
    margin-bottom: 20px;
    height: auto;
    overflow: hidden;
    &__light {
      order: 1;
      margin-bottom: 20px;
      max-width: 600px;
      margin-right: -90px;
    }  
  }
}

@media screen and (max-width: 768px) {
  .footer__tell-link,
  .footer__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    &__tell-link,
    &__text {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding-left: 13px;
    padding-right: 13px;
    &__tell-link,
    &__text {
      font-size: 12px;
    }
  }
}
