.main {
  width: 100%;
  
  
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__container {
  max-width: 1240px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 82px 25px 20px;
  
  
  display: flex;
  
  
      
          flex-direction: column;
  /* overflow: visible; */
}

.promo-container {
  max-width: 1200px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  
  grid-template-columns: 60% 40%;
  
  grid-template-rows: 126px auto;
  margin: 43px 0 37px;
  position: relative;
}

.promo-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.promo-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.promo-container > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.promo-container > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.promo-container::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  top: 0;
  -webkit-transform: translate(-55%, -35%);
      -ms-transform: translate(-55%, -35%);
          transform: translate(-55%, -35%);
  background:-o-radial-gradient(50% 50%, 55% 50%, #0199E4 0%, #05186A 100%);
  background:radial-gradient(55% 50% at 50% 50%, #0199E4 0%, #05186A 100%);
  -webkit-filter: blur(180px);
  -moz-filter: blur(180px);
  -o-filter: blur(180px);
  -ms-filter: blur(180px);
  filter: blur(180px);
}

@-moz-document url-prefix() {
  .promo-container::after {
    opacity: 0.5;
  }

  .promo-container::before {
    opacity: 0.5;
  }
}

.promo-container::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 686px;
  height: 686px;
  border-radius: 50%;
  right: 0;
  -webkit-transform: translate(50%, -25%);
      -ms-transform: translate(50%, -25%);
          transform: translate(50%, -25%);
  background:-o-radial-gradient(50% 50%, 70.05% 70%, #0199E4 0%, #05186A 100%);
  background:radial-gradient(70.05% 70% at 50% 50%, #0199E4 0%, #05186A 100%);
  -webkit-filter: blur(210px);
  -moz-filter: blur(210px);
  -o-filter: blur(210px);
  -ms-filter: blur(210px);
}

.promo__title-container {
  max-width: 640px;
  width: 100%;
  -ms-grid-row: 2;
  grid-row: 2;
}

.title {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 50px;
  line-height: 110%;
  font-weight: 700;
  background: -o-linear-gradient(0.01deg, #B7936E -4.28%, #FBF0D7 39.09%, #B7936E 90.78%);
  background: linear-gradient(89.99deg, #B7936E -4.28%, #FBF0D7 39.09%, #B7936E 90.78%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -ms-grid-column-align: start;
      justify-self: start;
}

.promo__brand-icon {
  width: 116px;
  margin: 0;
}

.promo__img-container {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.promo__img {
  max-width: 463px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  
  
  display: flex;
}

.promo__img-container::before {
  content: '';
  position: absolute;
  top: 16%;
  left: 0;
  width: 92px;
  height: 92px;
  background-image: url(../images/page_light.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.8;
}



.module {
  
  
  display: flex;
  
  
      
          flex-direction: column;
  
      
          align-items: flex-start;
  max-width: 1180px;
  width: 100%;
}

.module__number-form {
  background: -o-linear-gradient(36.2deg, #967259 2.69%, #D0A482 35.95%, #FCECBC 97.74%);
  background: linear-gradient(53.8deg, #967259 2.69%, #D0A482 35.95%, #FCECBC 97.74%);
  border-radius: 14px;
  padding: 11px 23.5px;
  margin: 0 0  20px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(2, 153, 228, 0.25);
          box-shadow: 0px 10px 20px 0px rgba(2, 153, 228, 0.25);
}

.module__number-text {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.module__img {
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 20px 0 0;
}

.module__desc-container {
  
  
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  width: 100%;
}

.module__description {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 26px;
  line-height: 140%;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background: -o-linear-gradient(0.01deg, #B7936E -4.28%, #FBF0D7 39.09%, #B7936E 90.78%);
  background: linear-gradient(89.99deg, #B7936E -4.28%, #FBF0D7 39.09%, #B7936E 90.78%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.module__description sup {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background: -o-linear-gradient(0.01deg, #B7936E -4.28%, #FBF0D7 39.09%, #B7936E 90.78%);
  background: linear-gradient(89.99deg, #B7936E -4.28%, #FBF0D7 39.09%, #B7936E 90.78%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.module__sub-text {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  padding: 0;
  margin: 20px 0 40px;
  color: #FFFFFF;
}

.consequences {
  
  
  display: flex;
  
  
      
          flex-direction: column;
  position: relative;
  max-width: 1180px;
  width: 100%;
}

.consequences::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 83px;
  height: 83px;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
  background-image: url(../images/page_light.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.consequences::after {
  content: '';
  position: absolute;
  left: -285px;
  bottom: 130px;
  width: 276px;
  height: 276px;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
  background-image: url(../images/page_light.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  opacity: 0.5;
}

.consequences__heading {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 26px;
  line-height: 120%;
  font-weight: 700;
  padding: 0;
  margin: 0 0 30px;
  color: #FFFFFF;
}

.consequences__heading sup {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}

.consequences__list {
  
  
  display: flex;
  
  
      
          flex-direction: column;
  max-width: 1045px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.consequences__item {
  max-width: 1045px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  border-radius: 14px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
  border: 2px solid rgba(255, 255, 255, 1);
  text-align: center;
}

.consequences__item-text {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 18px;
  line-height: 110%;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}

.consequences__arrow {
  width: 25px;
  margin: 2px 0 1px;
}

.consequences__item-total {
  border-radius: 14px;
  background-color: #FBFBFB;
  margin: 0;
  padding: 15px 0;
  max-width: 307px;
  width: 100%;
  text-align: center;
}

.consequences__item-total-text {
  color: #05186A;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 18px;
  line-height: 110%;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.diagnosis {
  
  
  display: flex;
  
  
      
          flex-direction: column;
  
      
          align-items: flex-start;
  max-width: 1180px;
  width: 100%;
  position: relative;
}

.diagnosis::after {
  content: '';
  position: absolute;
  right: -320px;
  bottom: 100px;
  width: 192px;
  height: 192px;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  background-image: url(../images/page_light.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.block__title {
  color: #FEF0D5;
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 50px;
  line-height: 120%;
  font-weight: 700;
  padding: 0;
  margin: 0 0 20px;
}

.block__subtitle {
  color: #FFFFFF;
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 26px;
  line-height: 140%;
  font-weight: 400;
  padding: 0;
  margin: 0 0 16px;
  display: block;
  max-width: 1069px;
  width: 100%;
}

.block__subtitle sup {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}

.diagnosis__list-heading {
  
  
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.diagnosis__list {
  display: -ms-grid;
  display: grid;
  
  grid-template-columns: 60% 40%;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
}

.diagnosis__items {
  -ms-grid-column: 1;
  grid-column: 1;
  
  
  display: flex;
  
  
      
          flex-direction: column;
  
      
          align-items: flex-start;
  gap: 25px;
  max-width: 681px;
  width: 100%;
  margin: 46px 0 62px;
}

.diagnosis__heading {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 80px;
  line-height: 80%;
  font-weight: 600;
  padding: 0;
  margin: 0;
  background: -o-linear-gradient(36.2deg, #967259 2.69%, #D0A482 35.95%, #FCECBC 97.74%);
  background: linear-gradient(53.8deg, #967259 2.69%, #D0A482 35.95%, #FCECBC 97.74%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.diagnosis__heading span {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.diagnosis__subheading {
  display: block;
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 26px;
  line-height: 110%;
  font-weight: 600;
  padding: 0;
  margin: 0 0 0 20px;
  background: -o-linear-gradient(0.01deg, #B7936E -4.28%, #FBF0D7 39.09%, #B7936E 90.78%);
  background: linear-gradient(89.99deg, #B7936E -4.28%, #FBF0D7 39.09%, #B7936E 90.78%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.diagnosis__subheading sup {
  font-family: 'Rubik', Arial, sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
  background: -o-linear-gradient(0.01deg, #B7936E -4.28%, #FBF0D7 39.09%, #B7936E 90.78%);
  background: linear-gradient(89.99deg, #B7936E -4.28%, #FBF0D7 39.09%, #B7936E 90.78%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.diagnosis__item {
  
  
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.diagnosis__item-img {
  width: 90px;
}

.diagnosis__item-text {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  padding: 0;
  margin: 0 0 0 20px;
}

.diagnosis__item-sublist {
  padding: 0;
  margin: 0 0 0 20px;
}

.diagnosis__text-wrapper {
  
  
  display: flex;
  
  
      
          flex-direction: column;
}

.diagnosis__list-img {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  max-width: 420px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.diagnosis__list-img_mob {
  display: none;
}

.diagnosis-nb {
  
  
  display: flex;
  padding: 20px 28px 21px 28px;
  margin: 0 0 80px;
  border-radius: 20px;
  background: -o-linear-gradient(36.2deg, #967259 2.69%, #D0A482 35.95%, #FCECBC 97.74%);
  background: linear-gradient(53.8deg, #967259 2.69%, #D0A482 35.95%, #FCECBC 97.74%);
}

.diagnosis-nb__img {
  width: 80px;  
}

.diagnosis__items_mob {
  display: none;
}

.diagnosis-nb__text {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 26px;
  line-height: 120%;
  font-weight: 400;
  padding: 0;
  margin: 0 0 0 20px;
  color: #ffffff;
  display: block;
  max-width: 896px;
  width: 100%;
}

.approach {
  margin-bottom: 80px;
  position: relative;
}

.approach__list::before {
  content: '';
  position: absolute;
  bottom: 12%;
  left: -20%;
  width: 250px;
  height: 250px;
  -webkit-transform: translateX(-50px) rotate(40deg);
      -ms-transform: translateX(-50px) rotate(40deg);
          transform: translateX(-50px) rotate(40deg);
  background-image: url(../images/page_light.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  opacity: 0.8;
}

.approach__subtitle {
  line-height: 130%;
  max-width: 950px;
  width: 100%;
  margin-bottom: 50px;
}

.approach__product-name-block {
  max-width: 780px;
  width: 100%;
}

.approach__product-name {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 50px;
  line-height: 120%;
  font-weight: 600;
  padding: 0;
  margin: 0 0 38px;
  display: block;
  text-transform: uppercase;
  background: -o-linear-gradient(359.72deg, #B7936E -14.36%, #FBF0D7 47.34%, #B7936E 106.62%);
  background: linear-gradient(90.28deg, #B7936E -14.36%, #FBF0D7 47.34%, #B7936E 106.62%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.approach__product-name sup {
  font-size: 32px;
  background: #FBF0D7;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.approach__product-name-block {
  position: relative;
}

.approach__product-name-dec {
  position: absolute;
  top: -23px;
  left: 145px;
}

.approach__list {
  
  
  display: flex;
  -webkit-box-orient: horizontal;
  
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 155px;
  max-width: 1180px;
  width: 100%;
}

.approach__list-item {
  width: 289px;
  
  
  display: flex;
  
  
      
          flex-direction: column;
}

.approach__list-item-img {
  width: 147px;
  -o-object-fit: cover;
     object-fit: cover;
}

.approach__list-item-heading {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 26px;
  line-height: 130%;
  font-weight: 700;
  padding: 0;
  margin: 10px 0;
}

.approach__list-item-subheading {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.approach__list-item:nth-child(2) img {
  width: 105px;
  /* margin-bottom: 10px; */
}

.approach__list-item:nth-child(3) img {
  width: 194px;
  margin-bottom: 10px;
}

.approach__list-item:nth-child(4) img {
  width: 112px;
  margin-bottom: 10px;
}

.approach__list-item:nth-child(5) img {
  width: 111px;
  margin-top: 20px;
}

.approach__list-item:nth-child(6) img {
  width: 142px;
  margin-bottom: 10px;
}

.chart {
  margin: 0 0 40px;
  border-radius: 14px;
  padding: 30px 0 50px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
  position: relative;
}

.chart::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 14px;
  border: 2px solid transparent;
  background: -o-linear-gradient(216.94deg, #B8946F 0%, #B89570 38.17%, #FCF0D8 109.09%) border-box;
  background: linear-gradient(233.06deg, #B8946F 0%, #B89570 38.17%, #FCF0D8 109.09%) border-box;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
          mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
          mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

.chart__heading-icon {
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 20px 0 0;
}

.chart__heading-description {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 26px;
  line-height: 140%;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.chart__heading-wrapper {
  
  
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 30px 20px;
}

.chart__subdescription {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 700;
  padding: 0;
  margin: 0 30px 20px;
  display: block;
  max-width: 918px;
}

.chart__subdescription sup {
  font-size: 12px;
}

.chart__subheading-wrapper {
  
  
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px 20px;
}

.chart__subheading-wrapper-icon {
  
  
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65px;
  height: 65px;
  position: relative;
}

.chart__subheading-wrapper-icon::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 50%;
  display: block;
  -webkit-transform: translate(-20%, -20%);
      -ms-transform: translate(-20%, -20%);
          transform: translate(-20%, -20%);
  background: rgba(1, 153, 228, 1);
  width: 45px;
  height: 45px;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.chart__subheading-icon {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40px;
}

.chart__subheading-description {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  padding: 0;
  margin: 0 0 0 20px;
}

.chart__wrapper {
  
  
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 30px;
}

.chart-table-wrapper {
  
  
  display: flex;
  
      
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

.chart-table-wrapper_main-content {
  
  
  display: flex;
  
  
      
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chart-table-title {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 500;
  padding: 0;
  margin: 0 0 20px 30px;
  color: #ffffff;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.chart-table__column-desc-text {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 11px;
  line-height: 130%;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  max-width: 108px;
  width: 100%;
}

.chart-table__img {
  max-width: 847px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.chart-table__img_mob {
  display: none;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.chart__table-text-wrapper {
  
  
  display: flex;
  
  
      
          flex-direction: column;
  margin-left: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 30px 0;
}

.chart__table-text-column {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  padding: 0 0 15px 26px;
  margin: 0;
  display: block;
  position: relative;
}

.chart__table-text-column::before {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.chart__table-text-column:nth-child(1)::before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.64%, #EEC4B9), color-stop(92.29%, #953B23));
  background: -o-linear-gradient(top, #EEC4B9 2.64%, #953B23 92.29%);
  background: linear-gradient(180deg, #EEC4B9 2.64%, #953B23 92.29%);
}

.chart__table-text-column:nth-child(2)::before {
  background: -o-linear-gradient(148.19deg, #39455C -21.44%, #D8DEE6 109.84%);
  background: linear-gradient(301.81deg, #39455C -21.44%, #D8DEE6 109.84%);
  
}

.chart__table-text-column:nth-child(3)::before {
  background: -o-linear-gradient(36.2deg, #967259 2.69%, #D0A482 35.95%, #FCECBC 97.74%);
  background: linear-gradient(53.8deg, #967259 2.69%, #D0A482 35.95%, #FCECBC 97.74%);
}

.component {
  padding-bottom: 10px;
  margin-bottom: 0;
}

.chart__component {
  
  
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 17px 30px;
  max-width: 1012px;
}

.chart__component-number {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 37px;
  line-height: 140%;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #ffffff;
  opacity: 0.3;
}

.chart__component-text {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  padding: 0;
  margin: 0 0 0 20px;
}

.teraflex {
  
  
  display: flex;
  margin-bottom: 30px;
  position: relative;
  
}

.teraflex::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 20%;
  left: -15%;
  width: 150px;
  height: 150px;

  -webkit-transform: translateX(-50px);

      -ms-transform: translateX(-50px);

          transform: translateX(-50px);
  background-image: url(../images/page_light.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.7;
}

.teraflex::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 180%;
  height: 180%;
  border-radius: 50%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background:-o-radial-gradient(50% 50%, 100% 100%, #0199E4 0%, #05186A 100%);
  background:radial-gradient(100% 100% at 50% 50%, #0199E4 0%, #05186A 100%);
  -webkit-filter: blur(300px);
  -moz-filter: blur(300px);
  -o-filter: blur(300px);
  -ms-filter: blur(300px);
  filter: blur(300px);
  opacity: 0.8;
}

@-moz-document url-prefix() {
  .teraflex::after {
    opacity: 0.7;/* Настройка для Firefox */
    background:radial-gradient(100% 100% at 50% 50%, #0199E4 0%, #05186A 50%);
  }
}

.teraflex__content {
  
  
  display: flex;
  
  
      
          flex-direction: column;
  
      
          align-items: flex-start;
}

.teraflex__title {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 50px;
  line-height: 110%;
  font-weight: 600;
  padding: 0;
  margin: 0 0 10px 0;
  background: -o-linear-gradient(0.01deg, #B7936E -4.28%, #FBF0D7 39.09%, #B7936E 90.78%);
  background: linear-gradient(89.99deg, #B7936E -4.28%, #FBF0D7 39.09%, #B7936E 90.78%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
}

.teraflex__title sup {
  font-size: 32px;
  background: #FBF0D7;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.teraflex__description {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 26px;
  line-height: 130%;
  font-weight: 700;
  padding: 0;
  margin: 0 0 32px 0;
  display: block;
  max-width: 667px;
}

.teraflex__list-heading {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 26px;
  line-height: 110%;
  font-weight: 700;
  padding: 0;
  margin: 0 0 16px 0;
  background: -o-linear-gradient(0.01deg, #B7936E -4.28%, #FBF0D7 39.09%, #B7936E 90.78%);
  background: linear-gradient(89.99deg, #B7936E -4.28%, #FBF0D7 39.09%, #B7936E 90.78%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.teraflex__item-text {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 18px;
  line-height: 110%;
  font-weight: 400;
  padding: 0;
  margin: 0 0 0 4px;
  display: block;
  max-width: 355px;
}

.teraflex__list-img-wrapper {
  
  
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75px;
  height: 75px;
  position: relative;
}

.teraflex__list-img-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 50%;
  display: block;
  background: rgba(1, 153, 228, 0.54);
  width: 100%;
  height: 100%;
  -webkit-filter: blur(24px);
  -moz-filter: blur(24px);
  -o-filter: blur(24px);
  -ms-filter: blur(24px);
  filter: blur(24px);
}

.teraflex__list-item {
  
  
  display: flex;
  -webkit-box-orient: horizontal;
  
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}

.teraflex__item-img {
  width: 69px;
  -o-object-fit: cover;
     object-fit: cover;
}

.teraflex__list-item:nth-child(2) img {
  width: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}

.teraflex__list-item:nth-child(3) img {
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.teraflex__img-wrapper {
  display: block;
  position: relative;
}

.teraflex__img-wrapper::before {
  content: '';
  position: absolute;
  top: 35%;
  left: -2%;
  width: 150px;
  height: 150px;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
  background-image: url(../images/page_light.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.1;
}

.teraflex__img {
  max-width: 513px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dosage {
  
  
  display: flex;
  gap: 20px;
  max-width: 1185px;
  width: 100%;
  position: relative;
}

.dosage::before {
  content: '';
  position: absolute;
  top: -90%;
  left: -37%;
  width: 420px;
  height: 420px;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
  background-image: url(../images/page_light.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.5;
}

.dosage__block {
  position: relative;
  max-width: 381px;
  width: 100%;
  padding: 8px 0;
  
  
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 14px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.dosage__block::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 14px;
  border: 2px solid transparent;
  background: -o-linear-gradient(343deg, #967259 0%, #D0A482 38.17%, #FCECBC 109.09%) border-box;
  background: linear-gradient(107deg, #967259 0%, #D0A482 38.17%, #FCECBC 109.09%) border-box;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
          mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
          mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

.dosage__text {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 26px;
  line-height: 110%;
  font-weight: 700;
  padding: 0;
  margin: 0 20px 0 20px;
}

.dosage__img-wrapper {
  max-width: 120px;
  width: 100%;
  position: relative;
}

.dosage__img-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 50%;
  display: block;
  background: rgba(1, 153, 228, 0.54);
  width: 100%;
  height: 100%;
  -webkit-filter: blur(22px);
  -moz-filter: blur(22px);
  -o-filter: blur(22px);
  -ms-filter: blur(22px);
  filter: blur(22px);
}

.dosage__img {
  max-width: 120px;
  width: 100%;
}

.dosage__block:nth-child(3) img {
  max-width: 110px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.remark {
  max-width: 1175px;
  width: 100%;
  margin: 48px 0 68px;
  -o-object-fit: cover;
     object-fit: cover;
}

.remark_mobile {
  display: none;
  width: 100%;
  margin: 48px 0 68px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-list {
  
  
  display: flex;
  
  
      
          flex-direction: column;
}

.main-list__title {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 50px;
  line-height: 120%;
  font-weight: 600;
  padding: 0;
  margin: 0 0 60px;
  background: -o-linear-gradient(359.72deg, #B7936E -14.36%, #FBF0D7 47.34%, #B7936E 106.62%);
  background: linear-gradient(90.28deg, #B7936E -14.36%, #FBF0D7 47.34%, #B7936E 106.62%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
}

.main-list__note {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.main-list__separator {
  margin: 20px 0;
  height: 1px;
  width: 100%;
  border: 0;
  background-color: #FFFFFF;
}

.main-list__items {
  margin: 0 20px 20px;
  padding: 0;
}

.main-list__item {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.modules-bottom {
  
  
  display: flex;
  
  
      
          flex-direction: column;
  
      
          align-items: flex-start;
  margin-bottom: 99px;
}

.modules-bottom__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 12px auto;
  grid-template-rows: auto auto;
  gap: 12px 20px;
}

.modules-bottom__container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.modules-bottom__container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.modules-bottom__container > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.modules-bottom__container > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.module-bottom {
  
  
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 40px;
  border: 1px solid #ffffff;
  background: -o-radial-gradient(50% 50%, 50% 58.1%, #0199E4 0%, #05186A 92.5%);
  background: radial-gradient(50% 58.1% at 50% 50%, #0199E4 0%, #05186A 92.5%);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(2, 153, 228, 0.25);
          box-shadow: 0px 10px 20px 0px rgba(2, 153, 228, 0.25);
  border-radius: 14px;
  width: 100%;
  min-height: 146px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.module-bottom__text-wrapper {
  
  
  display: flex;
  
  
      
          flex-direction: column;
  
      
          align-items: flex-start;
  margin: 0 0 0 30px;
}

.module-bottom__number {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12px;
  line-height: 120%;
  font-weight: 500;
  padding: 0;
  margin: 0 0 8px 0;
  text-transform: uppercase;
}

.module-bottom__desc {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
  padding: 0;
  margin: 0 30px 0 0;
}

.module-bottom__img {
  width: 40px;
}

.module-bottom.active {
  background: -o-linear-gradient(216.94deg, #B8946F 0%, #B89570 38.17%, #FCF0D8 109.09%);
  background: linear-gradient(233.06deg, #B8946F 0%, #B89570 38.17%, #FCF0D8 109.09%);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(2, 153, 228, 0.25);
          box-shadow: 0px 10px 20px 0px rgba(2, 153, 228, 0.25);

}

.modules-bottom__heading {
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 26px;
  line-height: 130%;
  font-weight: 500;
  padding: 0;
  margin: 0 0 15px 0;
  color: #ffffff;
}

.modules-bottom__link {
  text-decoration: none;
  
  
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  width: 100%;
  height: 100%;
}

.diagnosis__list-img_mob_top,
.diagnosis__list-img_mob_bottom {
  display: none;
}


@media screen and (max-width: 1440px) {
  .approach__list::before {
    display: none;
  }
}

@media screen and (max-width: 1228px) {
 .approach__list {
  gap: 30px 80px;
 }

 .approach__list-item {
  width: 250px;
 }
 .dosage::before {
  display: none;
 }

 .teraflex::before {
  display: none;
 }
}



@media screen and (max-width: 1208px) {
  .chart__table-text-wrapper {
    -webkit-box-orient: horizontal;
    
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
  .chart-table-wrapper {
    
    
        
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .chart-table-wrapper_main-content {
    width: 100%;
  }
  .chart-table__img {
    max-width: 100%;
  }

  .chart {
    padding-bottom: 30px;
  }

  .chart__table-text-wrapper {
    margin: 0;
  }

  .modules-bottom {
    margin-bottom: 30px;
  }
  .teraflex__img-wrapper::before {
    top: 20%;
    right: 0;
    opacity: 0.2;
  }

  .chart__table-text-column::before {
    top: -5%;
  }
}


@media screen and (max-width: 1115px) {

  .promo-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    margin-bottom: 0;
  }

  .promo-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .promo__img-container {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .promo__img-container::before {
    left: -15%;
    top: 0;
    background-size: 120% 120%;
  }

  .promo__img-container::after {
    content: '';
    position: absolute;
    top: -3%;
    right: 5%;
    width: 180px;
    height: 180px;
    -webkit-transform: translate(50%, -50%) rotate(45deg);
        -ms-transform: translate(50%, -50%) rotate(45deg);
            transform: translate(50%, -50%) rotate(45deg);
    background-image: url(../images/page_light.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.8;
  }

  .promo__title-container {
    -ms-grid-row: 3;
    grid-row: 3;
    margin-top: 25px;
    margin-bottom: 40px;
    max-width: 100%;
  }

  .promo__brand-icon {
    margin-bottom: 0;
  }

  .dosage {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .dosage > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .dosage > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .dosage > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .dosage > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .dosage__block {
    max-width: 100%;
  }
  .dosage__block:nth-child(2) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }

  .dosage__block:nth-child(3) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media screen and (max-width: 1024px) {

  .diagnosis__list {
    -ms-grid-columns: 70% 30%;
    grid-template-columns: 70% 30%;
  }

  .diagnosis-nb {
    margin-top: 40px;
  }

  .diagnosis__list-img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    max-width: 450px;
    min-width: 350px;
    width: 100%;
    margin-right: -25px;
    margin-top: 30px;
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .diagnosis__items {
    margin-top: 20px;
    margin-bottom: 0;
  }
  
}

@media screen and (max-width: 959px) {
  .approach__list-item:nth-child(3) img {
    /* margin-top: 10px;
    margin-bottom: 20px; */
  }

  .approach__list-item:nth-child(5) img {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .approach__list-item:nth-child(6) img {
    margin-bottom: 5px;
  }
}



@media screen and (max-width: 950px) {
  .diagnosis__list-img {
    min-width: 300px;
  }

  .modules-swiper {
    width: 100%;
    overflow: visible;
  }

  .modules-bottom__container {
    
    
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 0;
  }

  .module-bottom {
    max-width: 500px;

  }
  .remark {
    display: none;
  }

  .remark_mobile {
    display: block;
  }
}

@media screen and (max-width: 870px) { 

  .diagnosis__list-img {
    display: none;
  }

  .diagnosis__list-img_mob {
    display: block;
    max-width: 330px;
    width: 100%;
    margin-right: -25px;
    margin-top: -90px;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-grid-column: 2;
    grid-column: 2;
  }

  .chart__heading-icon {
    width: 80px;
  }
  .dosage__img-wrapper {
    max-width: 80px;
  }
  .dosage__block:nth-child(3).dosage__img-wrapper {
    max-width: 80px;
  }
}

@media screen and (max-width: 768px) {
  .promo__img {
    max-width: 420px;
  }

  .promo-container {
    margin-top: 20px;
  }
  .promo__brand-icon {
    margin-top: 0;
  }

  
  .promo-container::after {
    width: 550px;
    height: 550px;

    -webkit-transform: translate(25%, -10%);

        -ms-transform: translate(25%, -10%);

            transform: translate(25%, -10%);
    -webkit-filter: blur(100px);
            filter: blur(100px);
  }

  .title {
    font-size: 40px;
  }

  .module__img {
    width: 80px;
    margin-right: 15px;
  }

  .module__description {
    font-size: 20px;
    line-height: 120%;
  }

  .module__description sup {
    font-size: small;
  }

  .consequences__heading {
    margin-bottom: 20px;
  }

  .consequences__heading sup {
    font-size: x-small;
  }

  .consequences__item {
    margin-left: 20px;
    margin-right: 20px;
  }

  .consequences__item-text {
    font-size: 16px;
  }

  .consequences__item-total-text {
    font-size: 16px;
  }

  .block__title  {
    font-size: 40px;
    line-height: 120%;
  }

  .block__subtitle {
    font-size: 18px;
    line-height: 120%;
  }

  .block__subtitle sup {
    font-size: x-small;
  }

  .diagnosis__list-heading {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .diagnosis__subheading {
    margin: 0 0 0 10px;
    max-width: 450px;
  }

  .approach__product-name {
    font-size: 40px;
    line-height: 120%;
  }

  .approach__product-name sup {
    font-size: 28px;
  }

  .teraflex__title {
    font-size: 40px;
  }

  .teraflex__title sup {
    font-size: 26px;
  }

  .main-list__title {
    font-size: 40px;
  }

  .diagnosis__subheading {
    font-size: 18px;
  }

  .diagnosis__heading {
    font-size: 60px;
  }

  .diagnosis__item-img {
    width: 70px;
  }

  .diagnosis__item-text {
    font-size: 16px;
    line-height: 120%;
  }

  .diagnosis__list-img_mob {
    margin-top: -50px;
    max-width: 180px;
  }

  .diagnosis-nb__img {
    width: 60px;
  }

  .diagnosis-nb__text {
    font-size: 18px;
  }

  .diagnosis-nb {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .approach__list {
    gap: 20px 50px;
  }

  .approach__list-item-heading {
    /* margin-top: 5px; */
    font-size: 18px;
  }

  .approach__list-item-subheading {
    font-size: 16px;
  }

  .chart__heading-description {
    font-size: 18px;
  }

  .chart__subdescription {
    font-size: 16px;
  }

  .chart__component-text {
    font-size: 16px;
  }
  .chart-table__column-desc-text {
    font-size: 7px;
  }

  .chart__table-text-column {
    font-size: 8px;
    padding-left: 15px;
  }

  .chart__table-text-column:nth-child(1)::before {
    width: 12px;
    height: 12px;
  }

  .chart__table-text-column:nth-child(2)::before {
    width: 12px;
    height: 12px;
  }

  .chart__table-text-column:nth-child(3)::before {
    width: 12px;
    height: 12px;
  }

  .chart__subheading-description {
    font-size: 16px;
  }

  .chart-table-title {
    font-size: 16px;
    margin-left: 0;
  }

  .teraflex__description {
    font-size: 18px;
  }
  .dosage__text {
    font-size: 18px;
  }

  .teraflex__img-wrapper {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .teraflex__list-heading {
    font-size: 18px;
  }

  .modules-bottom__heading {
    font-size: 18px;
  }

  .module-bottom__desc {
    font-size: 16px;
  }
  .module-bottom {
    max-width: 400px;
  }

  .approach__product-name-dec {
    left: 108px;
    top: -25px;
  }

  .chart-table-wrapper {
    gap: 20px;
  }

  .approach {
    margin-bottom: 40px;
  }
  .chart  {
    margin-bottom: 30px;
  }

  .consequences__item-total {
    margin-bottom: 10px;
  }

  .dosage__img-wrapper::before {
    background: rgba(1, 153, 228, 1);
  }
}


@media screen and (max-width: 730px) {
  .diagnosis__list-heading {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }

  .chart__heading-icon {
    width: 60px;
    margin-bottom: 10px;
  }

  .chart__heading-wrapper {
    
    
        
            flex-direction: column;
    
        
            align-items: flex-start;
  }

  .teraflex {
    
    
        
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .teraflex__img-wrapper {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .teraflex__item-text {
    font-size: 16px;
  }

}

@media screen and (max-width: 643px) {

   .diagnosis__items {
    margin-top: 20px;
  }

  .diagnosis__items {
    gap: 14px;
  }

  .diagnosis__item-img {
    width: 50px;
  }

  .diagnosis-nb__img {
    width: 48px;
  }
  .dosage__text {
    margin: 0 10px;
  } 
}

@media screen and (max-width: 600px) {
  .promo__img {
    max-width: 321px;
  }

  .title {
    font-size: 28px;
  }

  .diagnosis__list-img_mob {
    margin-top: 10px;
  }

  .module__number-form {
    padding: 8px 18px;
    border-radius: 8px;
  }

  .module__number-text {
    font-size: 16px;
  }

  .module__desc-container {
    
        
            align-items: flex-start;
  }

  .block__title  {
    font-size: 30px;
    line-height: 110%;
  }

  .approach__product-name {
    font-size: 30px;
  }

  .approach__product-name sup {
    font-size: 22px;
  }

  .teraflex__title {
    font-size: 30px;
  }

  .main-list__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .approach__list-item-img {
    width: 100px;
  }

  .approach__list-item:nth-child(1) img {
    margin-bottom: 5px;
  }

  .approach__list-item:nth-child(2) img {
    width: 80px;
    margin-bottom: 0px;
  }

  .approach__list-item:nth-child(4) img {
    width: 76px;
    margin-bottom: 0px;
  }

  .approach__list-item:nth-child(3) img {
    width: 111px;
    margin-bottom: 18px;
  }
  .approach__list-item:nth-child(5) img {
    width: 92px;
    margin-bottom: 0px;
    margin-top: 0;
  }
  .approach__list-item:nth-child(6) img {
    width: 105px;
    margin-bottom: 5px;
  }

  .approach__list {
    gap: 20px 10px;
  }

  .approach__list-item {
   max-width: 180px;
   width: 100%;
  }

  .chart__heading-wrapper {
    margin-left: 15px;
    margin-right: 15px;
  }
  .chart__subdescription {
    margin-left: 15px;
    margin-right: 15px;
  }

  .chart__wrapper {
    margin-left: 15px;
    margin-right: 15px;
  }

  .chart__component {
    margin-left: 15px;
    margin-right: 15px;
  }
  .chart__subheading-wrapper-icon {
    width: 40px;
    height: 40px;
  }
  .chart__subheading-wrapper-icon::before {
    width: 40px;
    height: 40px;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .dosage__img-wrapper {
    max-width: 50px;
  }

  .module-bottom {
    max-width: 350px;
    padding: 0 25px;
  }
  .module-bottom__desc {
    margin-right: 0;
  }
  .module-bottom__text-wrapper {
    margin-left: 15px;
  }

  .module-bottom__img {
    width: 30px;
  }

  .teraflex__title sup {
    font-size: 20px;
  }

  .approach__product-name-dec {
    display: none;
  }

  .promo__brand-icon {
    width: 90px;
  }
  .approach__list-item:nth-child(3) img {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  .diagnosis__items {
    margin-bottom: 20px;
  }

   .diagnosis__items_mob {
    
    
    display: flex;
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
  }

  .diagnosis__items.diagnosis__items_mob::after {
    content: '';
    display: block;
    position: absolute;
    top: 60%;
    right: -2px;
    width: 120px;
    height: 120px;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    background-image: url(../images/page_light.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.2;
  }
  .diagnosis__items div:nth-child(3) {
    display: none;
  }

  .diagnosis__items div:nth-child(4) {
    display: none;
  }

  .diagnosis__list-img_mob {
    display: none;
  }

  .diagnosis__items_mob .diagnosis__item:nth-child(1) {
    max-width: 300px;
  }

    .diagnosis__item {
    
    
        
            flex-direction: column;
    
        
            align-items: flex-start;
    gap: 14px;
  }

  .diagnosis__item-text {
    margin-left: 0;
  }

  .diagnosis-nb {
    margin-top: 26px;
    margin-bottom: 40px;
  }

  .chart {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .teraflex__img-wrapper {
    margin-right: -50px;
    margin-left: -15px;
  }
  .teraflex__img-wrapper::before {
    width: 105px;
    height: 105px;
    left: -8%;
    transform: rotate(15deg);
    filter: blur(1px);
  }

  .module-bottom {
    -webkit-box-shadow: 0px 6px 12px 0px rgba(2, 153, 228, 0.25);
    box-shadow: 0px 6px 12px 0px rgba(2, 153, 228, 0.25);
  }

  .diagnosis__list-img_mob_top {
    display: block;
    max-width: 330px;
    width: 100%;
    margin-right: -25px;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-row: 2;
    margin-top: auto;
  }
  .diagnosis__list-img_mob_bottom {
    display: block;
    max-width: 330px;
    width: 100%;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-row: 4;
  }
}

@media screen and (max-width: 500px) {
  .diagnosis__list {
    -ms-grid-columns: 65% 35%;
    grid-template-columns: 65% 35%;
  }

  .diagnosis-nb {
    padding: 15px 16px 15px 13px;
  }

  .dosage__text {
    font-size: 16px;
  }

  .teraflex__list-img-wrapper {
    width: 43px;
    height: 43px;
  }

  .teraflex__item-img {
    width: 43px;
  }

  .teraflex__list-img-wrapper:nth-child(2) {
    width: 43px;
    height: 43px;
  }

  .teraflex__list-item:nth-child(2) img {
    width: 43px;
  }
  .teraflex__list-img-wrapper:nth-child(3) {
    width: 43px;
    height: 43px;
  }

  .teraflex__list-item:nth-child(3) img {
    width: 50%;
  }

  .teraflex__item-text {
    margin-right: 10px;
  }


  .module-bottom__desc {
    font-size: 14px;
  }

  .module-bottom {
    max-width: 300px;
  }

  .remark_mobile {
    margin: 20px 0 40px;
  }
  .chart-table-wrapper {
    gap: 11px;
  }
  .chart__table-text-wrapper  {
    gap: 9px;
  }


  .chart-table__img {
    display: none;
  }
  .chart-table__img_mob {
    display: block;
  }
  .diagnosis__items_mob .diagnosis__item:nth-child(1) {
    max-width: 280px;
  }

  .dosage__block,
  .dosage__block::before  {
    border-radius: 7px;
  }
  
}


@media screen and (max-width: 425px) {
  .main__container {
    padding-left: 13px;
    padding-right: 13px;
  }

  .promo__brand-icon {
    width: 76px;
  }

  .consequences__item-total {
    max-width: 425px;
  }

  .block__title  {
    font-size: 25px;
  }

  .approach__product-name {
    font-size: 25px;
  }

  .teraflex__title {
    font-size: 25px;
  }

  .main-list__title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .module__description {
    font-size: 18px;
  }

  .consequences__heading {
    font-size: 18px;
  }

  .module__sub-text {
    font-size: 16px;
    line-height: 120%;
  }

  .diagnosis__item-text {
    font-size: 14px;
  }

  .diagnosis__item-img {
    width: 46px;
  }

  .diagnosis-nb__text {
    font-size: 16px;
  }

  .diagnosis-nb__text {
    margin-left: 10px;
  }

  .approach__list-item-heading {
    font-size: 16px;
  }

  .approach__list {
    gap: 20px 0px;
  }
  .approach__list-item-img {
    max-width: 100px;
    width: 100%;
  }

  .chart__heading-description {
    font-size: 16px;
  }

  .chart__subdescription {
    font-size: 14px;
  }

  .chart__component-text {
    font-size: 14px;
    margin-left: 10px;
  }

  .chart__subheading-description {
    font-size: 14px;
    margin-left: 10px;
  }
  .chart-table-title {
    font-size: 14px;
  }

  .chart__heading-icon {
    width: 46px;
  }
  .chart__subheading-description span {
    white-space: normal !important;
  }

  .chart__component-number {
    font-size: 20px;
    line-height: 120%;
  }

  .chart__component {
    
        
            align-items: flex-start;
  }
  .teraflex__description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .dosage {
    gap: 11px 7px;
  }

  .teraflex__list-heading {
    font-size: 16px;
  }

  .main-list__note,
  .main-list__item {
    font-size: 12px;
  }

  .module-bottom__img {
    width: 25px;
  }
  .module-bottom__desc {
    font-size: 12px;
  }

  .module-bottom__number {
    font-size: 10px;
  }

  .module-bottom {
    min-height: 94px;
    max-width: 245px;
  }
  .module-bottom__number {
    margin-bottom: 3px;
  }

  .modules-bottom {
    margin-bottom: 0;
  }

  .approach__product-name sup {
    font-size: 18px;
  }

  .teraflex__title sup {
    font-size: 18px;
  }

  .chart__table-text-wrapper {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    
  }

  .approach__list::before {
    display: block;
    left: 93%;
    width: 150px;
    height: 150px;
    opacity: 0.4;
  }
  .teraflex::after {
    display: none;   
  }

  .diagnosis__items_mob .diagnosis__item:nth-child(1) {
    max-width: 250px;
  }

  .diagnosis__list-img_mob_top {
    margin-right: -15px;
  }
  .main__container {
    padding-top: 53px;
  }
  .approach__list-item:nth-child(1) img {
    margin-bottom: 10px;
  }
  .approach__list-item:nth-child(3) img {
    margin-top: 10px;
    margin-bottom: 8px;
  }

}

@media screen and (max-width: 380px) {
  .diagnosis__items_mob .diagnosis__item:nth-child(1) {
    max-width: 240px;
  }
  
}

@media screen and (max-width: 390px) {

  .promo-container::before {
    display: none;
  }
  .promo__img {
    max-width: 321px;
  }

  .module__number-form {
    max-width: 101px;
    padding: 5px 15px;
    border-radius: 8px;
  }

  .module__number-text {
    font-size: 14px;
  }

  .module__img {
    width: 46px;
    margin-right: 10px;
  }

  .module__description {
    font-size: 18px;
  }

  .consequences__heading {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .block__title {
    font-size: 25px;
  }

  .block__subtitle {
    font-size: 16px;
  }

  .diagnosis__heading {
    font-size: 40px;
  }
  .diagnosis__heading span {
    font-size: 16px;
  }

  .diagnosis__subheading {
    font-size: 16px;
  }
}
