.tera-ultra {
  display: grid;
  grid-template-columns: 56.5% 43.5%;
  &__subtitle {
    font-family: "Rubik", Arial, sans-serif;
    font-size: 26px;
    line-height: 130%;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: #ffffff;
  }
  &__title-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  &__list {
    grid-column: 1;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &-heading {
      font-family: "Rubik", Arial, sans-serif;
      font-size: 26px;
      line-height: 110%;
      font-weight: 700;
      padding: 0;
      margin: 0;
      background: linear-gradient(89.99deg, #B7936E -4.28%, #FBF0D7 39.09%, #B7936E 90.78%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
    &-item {
      display: flex;
      align-items: center;
      gap: 15px;
      &:nth-child(1) {
        max-width: 513px;
      }
      &:nth-child(2) {
        max-width: 375px;
      }
      &:nth-child(3) {
        max-width: 395px;
      }
    }
    &-img {
      width: 100%;
      &-container {
        max-width: 75px;
        width: 100%;
        position: relative;
        z-index: 2;
        &::before {
          content: "";
          position: absolute;
          right: 50%;
          top: 50%;
          z-index: -1;
          border-radius: 50%;
          display: block;
          transform: translate(50%, -50%);
          background: rgb(1, 153, 228);
          width: 120%;
          height: 120%;
          filter: blur(20px);
        }
      }
    }
    &-text {
      font-family: "Rubik", Arial, sans-serif;
      font-size: 20px;
      line-height: 110%;
      font-weight: 400;
      padding: 0;
      margin: 0;
    }
  }
  &__img {
    // max-width: 520px;
    width: 100%;
    object-fit: cover;
    &-container {
      grid-column: 2;
      grid-row: 1 / 3;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 50%;
        left: 3%;
        width: 180px;
        height: 180px;
        transform: translate(-50%, 50%);
        background-image: url(../images/page_light.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 0.1;
      }
    }
  }
}